:root {
    --primary: rgb(24, 47, 95);
    --font: arial;

    --spacing: 0.5rem;
    --spacing2: calc(var(--spacing) * 2);
    --spacing3: calc(var(--spacing) * 3);
    --spacing4: calc(var(--spacing) * 4);
}